<h1>Área Restrita</h1>
<div class="container-register-edit">
    <div class="register-product">
        <h2>Cadastrar Produto</h2>
        <form action="/products" method="post">
            <label for="title">Nome do Produto:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="category">Categoria:</label>
            <select name="category">
                <option value=""></option>
                <option value="calças">calças</option>
                <option value="saias">saias</option>
                <option value="bermudas e shorts">bermudas e shorts</option>
                <option value="vestidos">vestidos</option>
                <option value="camisas">camisas</option>
                <option value="blusões e suéteres">blusões e suéteres</option>
                <option value="casacos">casacos</option>
            </select>
            <br>
            <label for="description">Descrição:</label>
            <br>
            <textarea for="text" id="description" name="description" required cols="30" rows="5"></textarea>
            <br>
            <label for="price">Preço (R$):</label>
            <input type="number" id="price" name="price" required>
            <br>
            <label for="code">Código:</label>
            <input type="number" id="code" name="code" required>
            <br>
            <label for="thumbnail">Imagem:</label>
            <input type="text" id="thumbnail" name="thumbnail" required>
            <br>
            <label for="stock">Estoque:</label>
            <input type="number" id="stock" name="stock" required>
            <br>
            <label for="status">Status:</label>
            <select name="status">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <br>
            <button type="submit">Salvar Produto</button>
        </form>
    </div>


    <div class="edit-product">
        <h2>Editar Produto</h2>
        <p>Clique em cima do produto que deseja editar:</p>
        <ul>
            {{#each products}}
            <div>
                <button class="see-button" data-id="{{_id}}">VER</button>
                <span class="detail-admin">{{title}} | Preço R$ {{price}} | Código: {{code}} | Estoque: {{stock}}</span>
                <button class="edit-button" data-id="{{_id}}">Editar Produto</button>
                <button class="delete-button" data-id="{{_id}}">Deletar Produto</button>
            </div>
            {{/each}}
        </ul>
    </div>
</div>


<script>

    const seeButtons = document.querySelectorAll('.see-button')
    const editButtons = document.querySelectorAll('.edit-button')
    const deleteButtons = document.querySelectorAll('.delete-button')

    seeButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            window.location.href = `/products/${productId}`
        })
    })

    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            await deleteProduct(productId)
        })
    })

    editButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            window.location.href = `/edit/${productId}`
        })
    })

    async function deleteProduct(_id) {
        try {
            const response = await fetch(`http://localhost:8080/products/${_id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            if (response.ok) {
                alert(`Produto com id: ${_id} foi deletado com sucesso.`);
                window.location.href = `http://localhost:8080/admin`
            } else {
                console.error(`Erro ao excluir o produto. Status: ${response.status}`);
            }
        } catch (error) {
            console.error('Erro na solicitação de exclusão:', error);
        }
    }

</script>