<h1 class="product-name">{{title}}</h1>

    <div>
    {{!-- <img src="/static/{{thumbnail}}" alt="Imagem do Produto" width="50px" /> --}}
    <p>Categoria: {{category}}</p>
    <p>Descrição: {{description}}</p>
    <p>Preço R$ {{price}}</p>
    <p>Produtos em estoque: {{stock}}</p>
    <p>Id: {{_id}}</p>
    <br>
    <button class="addToCart" data-id="{{_id}}">Adicionar ao carrinho</button>
    </div>