<h1>Lista de Produtos</h1>
<ul>
    {{#each products}}
    <div>
        {{!-- <img src="/static/{{thumbnail}}" alt="Imagem do Produto" width="50px" /> --}}
        <p>Categoria: {{category}}</p>
        <p>{{title}}</p>
        <p>Preço R$ {{price}}</p>
        <br>
        <button class="viewProduct" data-id="{{_id}}">Ver produto</button>
    </div>
    {{/each}}
</ul>

<script>

    const viewProducts = document.querySelectorAll('.viewProduct')

    viewProducts.forEach(button => {
        button.addEventListener('click', async () => {
            const addProduct = button.getAttribute('data-id')
            console.log("PID selecionado:", addProduct)
            window.location.href = `/products/${addProduct}`
            //await addProductToCart(addProduct)
        })
    })

</script>