<h1 class="product-name">{{title}}</h1>

<div>
    <img src="../../image/{{thumbnail}}" alt="Imagem do Produto" width="150px" />
    <p>Categoria: {{category}}</p>
    <p>Descrição: {{description}}</p>
    <p>Preço R$ {{price}}</p>
    <p>Produtos em estoque: {{stock}}</p>
    <p>Código: {{code}}</p>
    <br>
    {{#if isUser}}
    <button class="addToCart" data-id="{{product}}">Adicionar ao carrinho</button>
    {{else}}
    <p>Faça seu login como "user" para adicionar o produto ao seu carrinho.</p>
    <button class="goToLogin">Login</button>
    {{/if}}
</div>

<script>
    const goToLogin = document.querySelectorAll('.goToLogin')
    const addToCart = document.querySelectorAll('.addToCart')

    goToLogin.forEach(button => {
        button.addEventListener('click', async () => {
            window.location.href = `/`
        })
    })

    addToCart.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            await addProduct(productId)
            sessionStorage.setItem('product-id', productId)
        })
    })

    async function addProduct(product) {
        try {
            //const form = new FormData(document.getElementById("form"))
            const response = await fetch(`/cart`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json, charset=UTF-8',
                },
                body: JSON.stringify(product)
            })
            
            console.log("response.ok:", response.ok)
            console.log("response.body1:", response.body)

            return (response => response.json())

            console.log("response.body2:", response.body)

            if (response.ok === true) {
                window.location.href = `/cart`
            } else {
                console.error(`Erro ao add o produto no carrinho. Status: ${response.status}`);
            }
        } catch (error) {
            console.error('Erro na solicitação de POST:', error)
        }
    }

</script>