<h1 class="product-name">{{title}}</h1>

<div>
    <img src="../../image/{{thumbnail}}" alt="Imagem do Produto" width="150px" />
    <p>Categoria: {{category}}</p>
    <p>Descrição: {{description}}</p>
    <p>Preço R$ {{price}}</p>
    <p>Produtos em estoque: {{stock}}</p>
    <p>Código: {{code}}</p>
    <br>
    {{#if isUser}}
    <button class="addToCart" data-id="{{_id}}">Adicionar ao carrinho</button>
    {{else}}
    <p>Faça seu login como "user" para adicionar o produto ao seu carrinho.</p>
    <button class="goToLogin">Login</button>
    {{/if}}
</div>

<script>
    const goToLogin = document.querySelectorAll('.goToLogin')
    const addToCart = document.querySelectorAll('.addToCart')

    goToLogin.forEach(button => {
        button.addEventListener('click', async () => {
            window.location.href = `/`
        })
    })

    addToCart.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            await addProductToCart(productId)
           // sessionStorage.setItem('product-id', productId)
        })
    })

    async function addProductToCart(_id) {
        try {
            const response = await fetch(`/cart`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(_id),
            })
            console.log("Response:", response)

                .then((response) => response.json())
                .then((_id) => {
                    console.log("Success:", _id);
                })

            if (response.ok) {
                window.location.href = `/cart`
            } else {
                console.error(`Erro ao add o produto no carrinho. Status: ${response.status}`);
            }
        } catch (error) {
            console.error('Erro na solicitação de atualização:', error)
        }
    }
</script>