<h1 class="product-name">{{title}}</h1>

<div>
    <img src="../../image/{{thumbnail}}" alt="Imagem do Produto" width="150px" />
    <p>Categoria: {{category}}</p>
    <p>Descrição: {{description}}</p>
    <p>Preço R$ {{price}}</p>
    <p>Produtos em estoque: {{stock}}</p>
    <p>Código: {{code}}</p>
    <br>
    {{#if isUser}}
    <button id="addToCart" class="addToCart" data-id="{{_id}}">Adicionar ao carrinho</button>
    {{else}}
    <p>Faça seu login como "user" para adicionar o produto ao seu carrinho.</p>
    <button class="goToLogin">Login</button>
    {{/if}}
</div>

<script>
    const goToLogin = document.querySelectorAll('.goToLogin')
    const addCart = document.querySelectorAll('.addToCart')
    const addToCart = document.getElementById('addToCart')

    goToLogin.forEach(button => {
        button.addEventListener('click', async () => {
            window.location.href = `/`
        })
    })

    addCart.forEach(button => {
        button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-id')
            await addProduct(productId)
        })
    })

    async function addProduct(_id) {
            const response = await fetch('/cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ pid: _id })
            })

            if (!response.ok) {
                throw new Error('Falha ao adicionar o produto ao carrinho')
            }

            const data = await response.json()
            console.log('Resposta do servidor:', data)
    }

</script>